<!DOCTYPE html>
  <div class="topNav">
      
    <div class="menuNav">
      <a href="#menu" i class="fas fa-bars" onclick="document.getElementById('_dropdownMenu').style.display='block'"></a>
     </div>

    <div class="xLogo">
      <div class="xLogoText">Mentor</div>
      <img src="css/images/XLogo2.png">
    </div>

    <div class="homeNav">
      <a href="/myprofile" i class="fas fa-user"></a>
    </div>
  </div>


  <div id="_dropdownMenu" class="modal">
      <form class="modal-content animate" id="menuModal">
          <div class="containerMenu">
              <a href="/home">Home</a>
              <a href="/myprofile">My Profile</a>
              <a href="">Mentoring</a>
              <a href="">Goal Setting</a>
              <a href="">Events</a>
              <a href="">Resources</a>
              <a href="">Help & Supp</a>
              <hr>
              <a href="/logout">Sign Out</a>
          </div>
      </form>
  </div>