<!DOCTYPE html>

<div class="newsFeed">
      <div id="newsFeedUpdate1">
        <div class="newsFeedImage1">
          <div class="newsFeedImageStock1"> 
            <i class="fas fa-user"></i>
          </div> 
        </div> 
        <div class="newsFeedUserName1">
          User Name #1
        </div>
        <div class="newsFeedText1">
          Nothing
        </div>
      </div> 
      

      <div id="newsFeedUpdate2">
        <div class="newsFeedImage2">
          <div class="newsFeedImageStock2"> 
            <i class="fas fa-user"></i>
          </div>
        </div>
        <div class="newsFeedUserName2">
          User Name #2
        </div>
        <div class="newsFeedText2">
          Limit to 150 characters, eta consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad Ut enim ad adad
        </div>
      </div> 

      <div id="newsFeedUpdate3">
        <div class="newsFeedImage3">
          <div class="newsFeedImageStock3"> 
            <i class="fas fa-user"></i>
          </div>
        </div>
        <div class="newsFeedUserName3">
          User Name #3
        </div>
        <div class="newsFeedText3">
          Limit to 150 characters, eta consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad Ut enim ad adad
        </div>
      </div> 

      <div id="newsFeedUpdate4">
        <div class="newsFeedImage4">
          <div class="newsFeedImageStock4"> 
            <i class="fas fa-user"></i>
          </div>
        </div>
        <div class="newsFeedUserName4">
          User Name #4
        </div>
        <div class="newsFeedText4">
          Limit to 150 characters, eta consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad Ut enim ad adad
        </div>
      </div> 

      <div id="newsFeedUpdate5">
        <div class="newsFeedImage5">
          <div class="newsFeedImageStock5"> 
            <i class="fas fa-user"></i>
          </div>
        </div>
        <div class="newsFeedUserName5">
          User Name #5
        </div>
        <div class="newsFeedText5">
          Limit to 150 characters, eta consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad Ut enim ad adad
        </div>
      </div> 

      <div id="newsFeedUpdate6">
        <div class="newsFeedImage6">
          <div class="newsFeedImageStock6"> 
            <i class="fas fa-user"></i>
          </div>
        </div>
        <div class="newsFeedUserName6">
          User Name #6
        </div>
        <div class="newsFeedText6">
          Limit to 150 characters, eta consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad Ut enim ad adad
        </div>
      </div> 

      <div id="newsFeedUpdate7">
        <div class="newsFeedImage7">
          <div class="newsFeedImageStock7"> 
            <i class="fas fa-user"></i>
          </div>
        </div>
        <div class="newsFeedUserName7">
          User Name #7
        </div>
        <div class="newsFeedText7">
          Limit to 150 characters, eta consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad Ut enim ad adad
        </div>
      </div> 

      <div id="newsFeedUpdate8">
        <div class="newsFeedImage8">
          <div class="newsFeedImageStock8"> 
            <i class="fas fa-user"></i>
          </div>
        </div>
        <div class="newsFeedUserName8">
          User Name #8
        </div>
        <div class="newsFeedText8">
          Limit to 150 characters, eta consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad Ut enim ad adad
        </div>
      </div> 

      <div id="newsFeedUpdate9">
        <div class="newsFeedImage9">
          <div class="newsFeedImageStock9"> 
            <i class="fas fa-user"></i>
          </div>
        </div>
        <div class="newsFeedUserName9">
          User Name #9
        </div>
        <div class="newsFeedText9">
          Limit to 150 characters, eta consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad Ut enim ad adad
        </div>
      </div> 

      <div id="newsFeedUpdate10">
        <div class="newsFeedImage10">
          <div class="newsFeedImageStock10"> 
            <i class="fas fa-user"></i>
          </div>
        </div>
        <div class="newsFeedUserName10">
          User Name #10
        </div>
        <div class="newsFeedText10">
        	Limit to 150 characters, eta consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad Ut enim ad adad
        </div>
      </div> 
</div>