# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*       @BreezyBreon
*.js    @BreezyBreon
*.js    @nkrajew

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
/public/css/ @momonarnar
/public/css/ @BreezyBreon
