<!doctype html>

<%- include partials/header.ejs -%>

<body class="text-center">
<div class="bodyContent">
  <form action="/login" class="form-signin" method="POST">
  
    <img class="mb-4" src="css/images/XLogo2.png" alt="" width="100" height="100">
    <h1  id="loginHeader" class="h3 mb-3 font-weight-normal">MentorX Login</h1>
      
      <input type="email" name="username" class="form-control top" placeholder="Email Address" required autofocus>
      <input type="password" name="password" class="form-control bottom" placeholder="Password" required>
      <button id="signinBtn" class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
      <div class="pwReset">
          <a href="/login">Forgot Password</a>
      </div>    
      <div class="or-seperator"><b>or</b></div>

      <button onclick="document.location = '/register'" id="registerBtn" class="btn btn-lg btn-primary btn-block">Register Now</button>
    
    <p class="mt-5 mb-3 text-muted">&copy; Breezy Breon</p>
  </form>
</div>
</body>


</html>
