<!doctype html>
<html lang="en">

<%- include partials/header -%>
<%- include partials/navBar -%>

<body>

<h1>Events Section Under Construction</h1>

<hr>

<h2>Your Upcoming Events</h2>

<!-- Table need to pull from Data for automatic data push -->
<div>
    <table style=width:auto>
        <thead>
            <tr>
                <th>Events</th>
                <th>Dates</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Profile Due</td>
                <td>Sept 1</td>
            <tr>
                <td>Match Day</td>
                <td>Sept 14</td>
            </tr>
            <tr>
                <td>Mid Semester Review</td>
                <td>Oct 15</td>
            </tr>
            <tr>
                <td>Mentor Goals Due</td>
                <td>Nov 15</td>
            </tr>
            <tr>
                <td>End of Mentorship Program</td>
                <td>Dec 15</td>
            </tr>
            <tr>
                <td>Final Review</td>
                <td>Dec 15</td>
            </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>

</div>

</body>


</html>

