<!doctype html>
<html lang="en">

<%- include partials/header -%>
<%- include partials/navBar -%>

<body>

<h1>Events coming soon...</h1>

<h2>Your Upcoming Events</h2>

<p>Update User Profile</p>

<p>Match Day!</p>

<p>Mid Semester Check-in</p>

<p>Mentor Goals</p>

<h3>Upcoming Events</h3>

<table>
	<tr>
		<td>Sept 1</td>
		<td> Match Day</td>
	</tr>

	<tr>
		

	</tr>
</table>

</body>


</html>

