<!doctype html>
<html lang="en">

<%- include partials/header -%>
<%- include partials/navBar -%>

 <body class=text-center>

    <h2>Your Upcoming Events</h2>


<!-- Table need to pull from Data for automatic data push -->
    <div class="tableContainer" style="margin-left: auto; margin-right: auto"> 
        <table>
            <thead>
                <tr>
                    <th>Upcoming Events</th>
                    <th>Dates</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Profiles Due</td>
                    <td>Sept 1, 2020</td>
                <tr>
                    <td>Match Day</td>
                    <td>Sept 14, 2020</td>
                </tr>
                <tr>
                    <td>Mid Semester Review</td>
                    <td>Oct 15, 2020</td>
                </tr>
                <tr>
                    <td>Mentor Goals Due</td>
                    <td>Nov 15, 2020</td>
                </tr>
                <tr>
                    <td>End of Mentorship Program</td>
                    <td>Dec 15, 2020</td>
                </tr>
                <tr>
                    <td>Final Review</td>
                    <td>Dec 15,2020</td>
                </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
 
<div>
    <p>All due dates are 11:59PM for the shown date above</p>
</div>


</body>


</html>

