<!doctype html>

<%- include partials/header -%>
<%- include partials/navBar -%>

<body class="text-center">

    <h2><%= user.mentorSelected %></h2>
    <h2><%= myMentor.fname %></h2>

</body>


</html>
