<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="css/images/XLogo2.png">
    <title>MentorX</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Custom styles for this template -->
<link rel="stylesheet" href="css/styles.css">


  <!-- link to jQuery library to power JS coding (primarily menu bar) -->
  <script src="js/jquery.js"></script>
  <!-- link to javascript file to hide the menu when clicked out -->
  <script src="js/Menu.js"></script>
  
</head>
<body class="text-center">
<div class="mentoringDashboard">
  <button onclick="document.location = '/viewMentors'" id="registerBtn" class="btn btn-lg btn-primary btn-block">View Available</button>
</div>

</body>
</div>

</html>

