<!DOCTYPE html>

<%- include('partials/header') %>
<link rel="stylesheet" href="css/HomePage.css">


  <title>MentorX</title>

</head>

<body>
  <!-- Menu / Nav Bar -->
  <%- include('partials/menubar') %>
  <!-- End of Menu / Nav Bar -->

  <!-- Start of middle section of page -->
	<div class="mainBody">

	</div>

</body>
</html>