<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>MentorX</title>
  <link rel="stylesheet" href="css/Splash.css">
  <link rel="icon" href="css/images/XLogo2.png">
  <script src="js/jquery.js"></script>
  <script src="js/login.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
</head>

<body>

<!-- class for the logo in the cetner of the page -->
<div class="mentorxLogo">
	<img src="css/images/XLogoFull.png"/>
</div>

<%- include('partials/authentication') %>



<!-- script to push the webpage automically to the login screen after 2,000 milliseconds -->
<!-- Disabling during test mode -->
<script>
	// var timer = setTimeout(function() {
	// 	window.location="/login"
	// }, 2000);
</script>


</body>

<footer>
</footer>

</html>
