
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";


/*setting the size of the web page as 100% of view height (fills background)*/

html, body {
  margin:0;
  height:100%;
  width: 100%;
  background-color: #f0f1f8;
  background-image: -webkit-linear-gradient(80deg,rgb(69,158,155) 50%, #f0f1f8 50%)
}

/*centering MentorX div and spacing from top*/
.mentorxLogo {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

/*setting the font size and max width size of the logo*/
.mentorxLogo img {
  max-width: 600px;
  font-size: 100px;
}
