<!DOCTYPE html>

<%- include partials/header.ejs -%>
<link rel="stylesheet" href="css/splash.css">

<body>

<!-- class for the logo in the cetner of the page -->
<div class="mentorxLogo">
	<img src="css/images/XLogoFull.png"/>
</div>


<!-- script to push the webpage automically to the login screen after 2,000 milliseconds -->
<script>
	var timer = setTimeout(function() {
		window.location="/login"
	}, 2000);
</script>


</body>

</html>
